#root {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

main {
  background-color: #F5F5F5;
  color: #2B283A;
  width: 450px;
  height: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em;
  box-sizing: border-box;
}

main h1 {
  font-size: 2.3rem;
}

main p {
  font-size: 1.3rem;
  text-align: center;
  color: gray;
  line-height: 1.2;
  margin-bottom: 1em;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
}

.dice-container button {
  max-width: 50px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #FFFFFF;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 2px 0px #00000015;
}

.roll-dice {
  margin-top: 1.8em;
  font-size: 1.2rem;
  border-radius: 10px;
  max-width: 160px;
  white-space: nowrap;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
